.input-area {
    text-align: center;
    width: auto;
    height: 200px;

    font-size: 40px;
}

h1{
    color: whitesmoke;
}

.input-area input {
    border: none;
    padding: 15px 80px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.input-area button {
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.input-area button:hover {
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: none;
    border: none;
    transition: 0.4s;
}